.container
  .row#uptown
    .span3
      %ul.nav.nav-list
        %li.nav-header ACM@TCNJ
        %li#school-img
          %img{'src' => 'http://placehold.it/200x200'}
        %li.nav-header Menu
        %li Account Information
        %li Membership Management
        %li Settings
    .span9
      .row
        %ul#tiles
          %li.lbutton
            %img{'src' => 'http://placehold.it/50x300'}
          %li.tile
            %img{'src' => 'http://placekitten.com/g/200/300'}
          %li.tile
            %img{'src' => 'http://placekitten.com/200/300'}
          %li.tile
            %img{'src' => 'http://placekitten.com/g/200/300'}
          %li.tile
            %img{'src' => 'http://placekitten.com/200/300'}
          %li.rbutton
            %img{'src' => 'http://placehold.it/50x300'}
        %ul#tiles-hideout
          %li.tile
            %img{'src' => 'http://placekitten.com/g/200/300'}
          %li.tile
            %img{'src' => 'http://placekitten.com/200/300'}
        %ul#tags
          %li.ui-state-default
            Sports
            %i.icon-remove
          %li.ui-state-default
            Music
            %i.icon-remove
          %li.ui-state-default
            Party
            %i.icon-remove
          %li.ui-state-default
            CompSci
            %i.icon-remove
          %li.ui-state-default
            STUD
            %i.icon-remove
  .row#meettown
    %p Let's run a Meeting
  .row#plugtown
    %p Let's Plug the social network!
  .row#jottown
    %p Let's jot down some notes.
  .row#mailtown
    %p Let's send a Message
  .row#eventtown
    %p Let's make an Event
  .row#membertown
    %p Let's check our Members
  .row#downtown
    %p All sorts of acknowledgements here...
