.container
  .row
    .span3
      %ul.nav.nav-list
        %li.nav-header School
        %li#school-img
          %img{'src' => 'http://placehold.it/200x200'}
        %li.nav-header Menu
        %li Thing
        %li Thing
        %li Thing
    .span9
      .row.tag#tag1
        %ul.tiles
          %li.lbutton
            %img{'src' => 'http://placehold.it/50x300'}
          %li.tile
            %img{'src' => 'http://placehold.it/200x300'}
          %li.tile
            %img{'src' => 'http://placehold.it/200x300'}
          %li.tile
            %img{'src' => 'http://placehold.it/200x300'}
          %li.rbutton
            %img{'src' => 'http://placehold.it/50x300'}
        %ul.tags
          %li.expressed
  
