.container
  .row
    .span3
      %ul.nav.nav-list
        %li.nav-header School
        %li#school-img
          %img{'src' => 'http://placehold.it/200x200'}
        %li.nav-header Menu
        %li Thing
        %li Thing
        %li Thing
    .span9
      #uptop.row
        %ul#tiles
          %li.lbutton
            %img{'src' => 'http://placehold.it/50x300'}
          %li.tile
            %img{'src' => 'http://placekitten.com/g/200/300'}
          %li.tile
            %img{'src' => 'http://placekitten.com/200/300'}
          %li.tile
            %img{'src' => 'http://placekitten.com/g/200/300'}
          %li.tile
            %img{'src' => 'http://placekitten.com/200/300'}
          %li.rbutton
            %img{'src' => 'http://placehold.it/50x300'}
        %ul#tiles-hideout
          %li.tile
            %img{'src' => 'http://placekitten.com/g/200/300'}
          %li.tile
            %img{'src' => 'http://placekitten.com/200/300'}
        %ul#tags
          %li.ui-state-default
            Sports
            %i.icon-remove
          %li.ui-state-default
            Music
            %i.icon-remove
          %li.ui-state-default
            Party
            %i.icon-remove
          %li.ui-state-default
            CompSci
            %i.icon-remove
          %li.ui-state-default
            STUD
            %i.icon-remove
